/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITY*/
body{
  font-family: 'Roboto Mono', monospace;
}

.container{
  width: 80%;
  max-width: 1100px;
  min-width: 600px;
  margin: 0 auto;

}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.mb-10{
  margin-bottom: 10px;
}


.overlay{
  background-color: rgba(0,0,0,.3);
  height: 100%;
  border-radius: 10px;
}
/*HEADER*/



/*logo*/

header .nav-bar .logo{
  width: 25%;
  padding: 5px;
  
}


header .nav-bar .logo img{
  height: 50px; 
  border-right:1px solid black ; 
  padding-right: 10px;
}
 
/*/logo*/

/*menu*/
header .menu{
  padding: 0 5px;
}

header .menu ul li{
  display: inline-block;
  padding: 20px 5px;
}

header .menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

header .menu ul li a:hover{
  color: rgb(255, 196, 0);
}
/*/menu*/


/*MAIN*/

/*jumbotron*/

main .jumbotron{
  height: 600px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  border-radius: 20px;
  
  overflow: hidden;
  color: white;
}

main .main-title{
  background-color: rgba(0,0,0,.3) ;
  height:100%;
  text-align: justify;
  padding-top: 30%;
  padding-left: 5%;
  
}

.main-title  h3,p{
  width: 40%;
  padding: 5px 0;
}





/*/jumbotron*/

.main-content{

  height: 800px;
  
}

main .title{
  height: 80px;
  margin-bottom: 10px;
  
}

.col-sx,.col-dx{

  
  float: left;
  
}

.col-sx {
  background-image: url(../img/img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
  width: 19%;
  border-radius: 10px;
  margin-right: 1%;
  
  
}


.col-sx-text{
 
}


.col-sx-text p{
  text-align: justify;
  font-size: 12px;
  width: 100%;
  
  
}


.col-dx {
  background-image: url(../img/img-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30%;
  width: 19%;
  border-radius: 10px;
  margin-left: 1%;
  
  
}


.col-dx-text p{
  text-align: justify;
  font-size: 12px;
  width:   100%;
}



.col-center-text p{
  text-align: justify;
  font-size: 12px;
  width:   100%;
}
 



.center{
   width: 60%;
  height: 30%;
  float: left;
  background-image: url(../img/banner-2.jpg);
  border-radius: 10px;
  background-position: center;
  background-size:cover ;
  background-repeat: no-repeat;
  
  
 
}

.col-dx,.col-sx,.center{
  margin-bottom: 10px;
}

/*FOOTER*/

footer .foot-section{
  height: 40px;
  text-align: center
  ;

}

footer .foot-section::after{
  content: "\2665";
  color: red;
  font-size: 20px;
}

