/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITY*/
body{
  font-family: 'Roboto Mono', monospace;
}

.container{
  width: 80%;
  max-width: 1100px;
  min-width: 600px;
  margin: 0 auto;

}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/*HEADER*/

header{
  
  margin-bottom: 10px;
 
}



header .nav-bar .logo{
  width: 25%;
  padding: 5px;
  
}


header .nav-bar .logo img{
  height: 50px; 
  border-right:1px solid black ; 
  padding-right: 10px;
}
 
header .menu{
  padding: 0 5px;
}

header .menu ul li{
  display: inline-block;
  padding: 20px 5px;
}

header .menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

header .menu ul li a:hover{
  color: rgb(255, 196, 0);
}

/*MAIN*/



main .jumbotron{
  height: 400px;
  background-color: rgba(255, 255, 0, 0.562);
  margin-bottom: 10px;
}

main .main-content{
  background-color: blue;
  margin-bottom: 10px;
  
}

main .title{
  height: 80px;
  margin-bottom: 10px;
  background-color: rgb(0, 195, 255);
}

.col-sx,.col-dx{
  height: 600px;
  width: 19%;
  background-color: rgb(0, 195, 255);
  float: left;
  
}

.col-sx{
  margin-right: 1%;
}

.col-dx{
  margin-left: 1%;
}

.center{
  height: 600px;
  width: 60%;
  background-color: rgb(0, 195, 255);
  float: left;
}

.col-dx,.col-sx,.center{
  margin-bottom: 10px;
}

/*FOOTER*/

footer .foot-section{
  height: 80px;
  background-color: blueviolet;

}

