/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*UTILITY*/
body{
  font-family: 'Roboto Mono', monospace;
}

.container{
  width: 80%;
  max-width: 1100px;
  min-width: 600px;
  margin: 0 auto;

}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.mb-10{
  margin-bottom: 10px;
}

/*HEADER*/



/*logo*/

header .nav-bar .logo{
  width: 25%;
  padding: 5px;
  
}


header .nav-bar .logo img{
  height: 50px; 
  border-right:1px solid black ; 
  padding-right: 10px;
}
 
/*/logo*/

/*menu*/
header .menu{
  padding: 0 5px;
}

header .menu ul li{
  display: inline-block;
  padding: 20px 5px;
}

header .menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
}

header .menu ul li a:hover{
  color: rgb(255, 196, 0);
}
/*/menu*/

/*MAIN*/

/*jumbotron*/

main .jumbotron{
  height: 600px;
  background-image: url(../img/banner.jpg);
  background-position: center;
  border-radius: 20px;
  
  overflow: hidden;
  color: white;
}

main .main-title{
  background-color: rgba(0,0,0,.3) ;
  height:100%;
  text-align: justify;
  padding-top: 30%;
  padding-left: 5%;
  
}

.main-title > h3,p{
  width: 40%;
  padding: 5px 0;
}

/*/jumbotron*/

main .main-content{
  background-color: blue;
 
  
}

main .title{
  height: 80px;
  margin-bottom: 10px;
  background-color: rgb(0, 195, 255);
}

.col-sx,.col-dx{
  height: 600px;
  width: 19%;
  background-color: rgb(0, 195, 255);
  float: left;
  
}

.col-sx{
  margin-right: 1%;
}

.col-dx{
  margin-left: 1%;
}

.center{
  height: 600px;
  width: 60%;
  background-color: rgb(0, 195, 255);
  float: left;
}

.col-dx,.col-sx,.center{
  margin-bottom: 10px;
}

/*FOOTER*/

footer .foot-section{
  height: 80px;
  background-color: blueviolet;

}

